<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Tech Blog</title>
</head>
<body>
    <nav class="navbar is-success py-4" role="navigation" aria-label="main navigation">
        <div class="navbar-brand is-size-3">
            <a class="navbar-item" href="/">
                <img src="/images/laptopLogo.png">
                The Tech Blog
            </a>
        </div>
        <div class="navbar-menu is-active is-size-4">
            <div class="navbar-end">
                <a class="navbar-item" href="/">
                    Home
                </a>
                <a class="navbar-item" href="/dashboard">
                    Dashboard
                </a>
                {{#if logged_in}}
                <a class="navbar-item" href="/logout" id="logout">
                    Logout
                </a>
                {{else}}
                 <a class="navbar-item" href="/login">
                    Login
                </a>
                {{/if}}
            </div>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <main>
        {{{body}}}
    </main>

{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}
</body>

</html>