<!--this is hardcoded one -->
<div class="container is-centered userPosts">
    <div class="card blogCards">
    <div class="card-content">
        <div class="content">
        <h4><a href="/dashboard/edit" id="singlePost">Blog Post Name</a></h4>
        <p class="has-text-right">00/00/00</p>
        </div>
    </div>
    </div>

    {{#each posts as |post| }}
    <div class="card">
    <div class="card-content blogCards">
        <div class="content">
        <h4><a id="singlePost">{{post.title}}</a></h4>
        <p class="has-text-right">{{format_date post.date_posted}}</p>
        </div>
    </div>
    </div>
    {{/each}}

</div>

<div class="columns is-centered">
    <div class = "control">
        <button class ="button is-success is-medium" id="newpost"> + New Post </button>
    </div>
</div>

<script src="/js/dashboard.js"></script>