html, body {
    height:100%;
    background-color: rgb(235, 235, 235);
}

.blogCards {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(85, 83, 83);
    color: white;
}

.blogCards a {
    color: white;
}

#newpost {
    margin-top: 2rem;
}

.welcome {
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
}

.commentPost {
    width: 50%;
}