html, body {
    height:100%;
    background-color: rgb(235, 235, 235);
}

.blogCards {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(85, 83, 83);
    color: white;
}

.blogCards a {
    color: white;
}

#newpost {
    margin-top: 2rem;
}

.welcome {
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
}

.commentPost {
    width: 50%;
}

.commentPost .subtitle {
    font-weight: bold;
    font-style: italic;
}

.commentDiv {
    border-top: 2px black solid;
    padding: 20px;
    background-color: rgb(210, 230, 207);
}

.commentDiv h2 {
    font-weight: bold;
    font-style: italic;
}

.hide {
    display: none;
}

.reveal {
    display: block;
}